        body {
          text-align: center;
          font-family: "Helvetica", sans-serif;
        }
        table {
        width: 80%;
        margin: 20px 10%;
        font-size: 22px;
       }
        button {
          color: white;
          background-color: #4791d0;
          border-radius: 5px;
          border: 1px solid #4791d0;
          padding: 5px 10px 8px 10px;
        }
        button:hover {
          background-color: #0F5897;
          border: 1px solid #0F5897;
        }